@using Ejercicio3.Models.ViewModels
@model AlumnoViewModel

@{
    ViewData["Title"] = "Editar alumno";
}
<div class="row pb-2">
    <div class="col-md-12">
        <div class="d-flex">
            <h1>Actualizar datos del alumno</h1>
        </div><!-- d-flex -->
    </div><!-- col-md-12 -->
</div><!-- row pb-2 -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Update" method="post">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                     <div class="row g-3">
                         <input type="hidden" asp-for="IDPersona" />
                         <div class="col-md-6">
                             <label asp-for="NombreUno" class="form-label"></label>
                             <input asp-for="NombreUno" class="form-control"/>
                             <span asp-validation-for="NombreUno" class="text-danger"></span>
                         </div>
                         <div class="col-md-6">
                             <label asp-for="NombreDos" class="form-label"></label>
                             <input asp-for="NombreDos" class="form-control"/>
                             <span asp-validation-for="NombreDos" class="text-danger"></span>
                         </div>
                         <div class="col-md-6">
                             <label asp-for="ApellidoUno" class="form-label"></label>
                             <input asp-for="ApellidoUno" class="form-control"/>
                             <span asp-validation-for="ApellidoUno" class="text-danger"></span>
                         </div>
                         <div class="col-md-6">
                             <label asp-for="ApellidoDos" class="form-label"></label>
                             <input asp-for="ApellidoDos" class="form-control"/>
                             <span asp-validation-for="ApellidoDos" class="text-danger"></span>
                         </div>
                         <div class="col-md-6">
                             <label asp-for="FechaNacimiento" class="form-label"></label>
                             <input asp-for="FechaNacimiento" class="form-control"/>
                             <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                         </div>
                         <div class="col-md-6">
                             <label asp-for="Matricula" class="form-label"></label>
                             <input asp-for="Matricula" class="form-control"/>
                             <span asp-validation-for="Matricula" class="text-danger"></span>
                         </div>
                         <div class="col-md-6">
                             <label asp-for="Carrera" class="form-label"></label>
                             <input asp-for="Carrera" class="form-control"/>
                             <span asp-validation-for="Carrera" class="text-danger"></span>
                         </div>
                         <div class="col-md-6">
                             <label asp-for="Semestre" class="form-label"></label>
                             <input asp-for="Semestre" class="form-control"/>
                             <span asp-validation-for="Semestre" class="text-danger"></span>
                         </div>
                         <div class="col-md-6">
                             <label asp-for="Especialidad" class="form-label"></label>
                             <input asp-for="Especialidad" class="form-control"/>
                             <span asp-validation-for="Especialidad" class="text-danger"></span>
                         </div>
                     </div><!-- row g-3 -->
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>
                </form>
            </div><!-- card-body -->
        </div><!-- card -->
    </div><!-- col-md-12 -->
</div><!-- row -->

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}