@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esta es una práctica de .NET Core en Mac OS usando SQL Server en un contenedor de Docker.</p>
</div>